//main: ../charm.sass

$heading-ratios: (
  "html5":         ("h1":     2em, "h2":   1.5em, "h3":  1.17em, "h4":     1em, "h5":   .83em, "h6":  .67em),
  "html4":         ("h1":     2em, "h2":   1.5em, "h3":  1.17em, "h4":  1.12em, "h5":   .83em, "h6":  .75em),
  "linear-small":  ("h1":  1.75em, "h2":  1.57em, "h3":  1.39em, "h4":  1.21em, "h5":  1.03em, "h6":  .85em),
  "linear":        ("h1":     2em, "h2":  1.75em, "h3":   1.5em, "h4":  1.25em, "h5":   1.1em, "h6":   .8em),
  "linear-medium": ("h1":   2.5em, "h2":   2.2em, "h3":   1.9em, "h4":   1.6em, "h5":   1.3em, "h6":    1em),
  "linear-large":  ("h1":   3.5em, "h2":     3em, "h3":   2.5em, "h4":     2em, "h5":   1.5em, "h6":    1em),
  "minor2":        ("h1": 1.383em, "h2": 1.296em, "h3": 1.215em, "h4": 1.138em, "h5": 1.067em, "h6": .937em),
  "major2":        ("h1": 1.802em, "h2": 1.602em, "h3": 1.424em, "h4": 1.266em, "h5": 1.125em, "h6": .889em),
  "minor3":        ("h1": 2.488em, "h2": 2.074em, "h3": 1.728em, "h4":  1.44em, "h5":   1.2em, "h6": .833em),
  "major3":        ("h1": 3.052em, "h2": 2.441em, "h3": 1.953em, "h4": 1.563em, "h5":  1.25em, "h6":   .8em),
  "perfect4":      ("h1": 4.209em, "h2": 3.157em, "h3": 2.369em, "h4": 1.777em, "h5": 1.333em, "h6":  .75em),
  "aug4":          ("h1": 3.998em, "h2": 2.827em, "h3": 1.999em, "h4": 1.414em, "h5":     1em, "h6": .707em),
  "dim5":          ("h1": 5.653em, "h2": 3.998em, "h3": 2.827em, "h4": 1.999em, "h5": 1.414em, "h6": .707em),
  "perfect5":      ("h1": 5.063em, "h2": 3.375em, "h3":  2.25em, "h4":   1.5em, "h5":     1em, "h6": .667em),
  "dim6":          ("h1": 7.594em, "h2": 5.063em, "h3": 3.375em, "h4":  2.25em, "h5":   1.5em, "h6": .667em),
  "golden":        ("h1": 4.236em, "h2": 2.618em, "h3": 1.618em, "h4": 1.081em, "h5":     1em, "h6": .809em),
  "golden-large":  ("h1": 6.854em, "h2": 4.236em, "h3": 2.618em, "h4": 1.618em, "h5": 1.081em, "h6": .809em),
);

$line-heights: (
  "concise":   1.374,
  "html5":     1.4,
  "bootstrap": 1.4285714286,
  "golden":    1.6180339888,
);

$font-weights: (
  "thin":        100,
  "ultra-light": 100,
  "extra-light": 200,
  "light":       300,
  "regular":     400,
  "medium":      500,
  "semi-bold":   600,
  "bold":        700,
  "thick":       800,
  "extra-bold":  800,
  "ultra-bold":  900,
  "black":       900,
);

$viewport-sizes: (
  // widths
  "small":            400px,
  "medium":           600px,
  "large":            900px,
  "desktop":         1200px,
  "giant":           1800px,
  // device width aliases
  "phone":            400px,
  "tablet-portrait":  600px,
  "tablet-landscape": 900px,
);

$media-limits: (
  "min":        min-width,
  "min-width":  min-width,
  "max":        max-width,
  "max-width":  max-width,
  "min-height": min-height,
  "max-height": max-height,
  "min-color":  min-color,
  "max-color":  max-color,
);

$flex-positions: (
  "between": space-between,
  "around":  space-around,
  "start":   flex-start,
  "left":    flex-start,
  "top":     flex-start,
  "end":     flex-end,
  "right":   flex-end,
  "bottom":  flex-end,
  "base":    baseline,
);

$z-indexes: (
  "overlay": 300,
  "modal":   200,
  "fixed":   100,
);
