//main: ../charm.sass
@use '../core/maps'

// breakpoint
= breakpoint($width, $limit)
  @if $limit == min
    @media (#{$limit}-width: check_map(maps.$breakpoint-widths, $width))
      @content
  @else if $limit == max
    @media (#{$limit}-width: (check_map(maps.$breakpoint-widths, $width) - 1))
      @content

// device orientation
= landscape
  @media (orientation: landscape)
    @content

= portrait
  @media (orientation: portrait)
    @content

// breakpoint aliases
= at($width)
  +breakpoint($width, min)
    @content

= to($width)
  +breakpoint(($width - 1), max)
    @content

// hide
= hide-to($width, $display: block)
  display: none
  +breakpoint($width, min)
    display: $display

= show-at($args...)
  +hide-to($args...)

= hide-at($width, $display: block)
  display: $display
  +breakpoint($width, min)
    display: none

= show-to($args...)
  +hide-at($args...)

// scroll
= scroll-at($height: null)
  height: $height
  overflow: scroll
