//main: ../lib.sass
@use '../core/mixins'
@use '../core/maps'

// flexbox
= flexbox($direction: row, $wrap: null, $justify-content: null, $align-items: null, $align-content: null)
  display: flex
  flex-direction: $direction
  flex-wrap: $wrap
  justify-content: check_map(maps.$flex-positions, $justify-content)
  align-items: check_map(maps.$flex-positions, $align-items)
  align-content: check_map(maps.$flex-positions, $align-content)

// flat
= flat($justify-content: null, $align-items: null)
  +flexbox(row, nowrap, $justify-content, $align-items)

= flat-reverse($justify-content: null, $align-items: null)
  +flexbox(row-reverse, nowrap, $justify-content, $align-items)

= flat-wrap($justify-content: null, $align-items: null, $align-content: null)
  +flexbox(row, wrap, $justify-content, $align-items, $align-content)

= flat-reverse-wrap($justify-content: null, $align-items: null, $align-content: null)
  +flexbox(row-reverse, wrap, $justify-content, $align-items, $align-content)

// stack
= stack($justify-content: null, $align-items: null)
  +flexbox(column, nowrap, $justify-content, $align-items)

= stack-reverse($justify-content: null, $align-items: null)
  +flexbox(column-reverse, nowrap, $justify-content, $align-items)

= stack-wrap($justify-content: null, $align-items: null, $align-content: null)
  +flexbox(column, wrap, $justify-content, $align-items, $align-content)

= stack-reverse-wrap($justify-content: null, $align-items: null, $align-content: null)
  +flexbox(column-reverse, wrap, $justify-content, $align-items, $align-content)

// flex
= flex($value: initial)
  flex: check_map(maps.$flex-values, $value)
